parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkUnionTypes: true
    checkThisOnly: true
    inferPrivatePropertyTypeFromConstructor: true

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon